DATABASE_URL=postgres://postgres:postgres@localhost:5432/plakk
# PLAKK_TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5432/plakk_test
PLAKK_BACKEND_HOST=127.0.0.1
PORT=3100
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
